/* Good HTML5 markup should at least have the following tags:
    - <header> 
    - <nav>
    - <main>
    - <footer>
*/

/**************** 
RESET
*****************/
h1, h2, h3, h4, h5, h6, p, a, ul, ol, li, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent; 
}

/**************** 
TESTING
*****************/
/*
* {
  border-style: dashed;
  border-color: blue;
  border-width: 1px
}
*/

/**************** 
GENERAL 
*****************/
html, body {
  height: 100%;
} 

body {
  margin: 0;
  background: tomato;
}

div#sidebar {
  height: 100%;
  width: 50%;
  float: left;
  background: #999; /* url(http://withtwoemms.github.io/img/field_museum_totem.png) no-repeat; /* consider 'aquamarine' as alternative*/
  background-size: 70% auto;
  background-position: center center;
  padding: 20px 0 0 0;
  margin-bottom: 100px;
}

main.content {
  width: 50%;
  height: 100%;
  background: orange;
  padding: 20px 0 0 0;
  margin-bottom: 100px;
  position: relative;
  float: right;
}

main.content article {
  padding: 0 20px;
  margin-bottom: 40px;
}

/* CODE BOXES */
span.line {
  background: #666;
  font-family: courier;
  padding: 5px;
  margin: 2px;
}

/**************** 
HEADER 
*****************/
header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 10; 
  /* text-align: justify; */
  background: lightseagreen;
  display: table;
  box-shadow: 0 0 10px 0 #888;
}

header #logo-container {
  display: table-cell;
  vertical-align: middle;
}

header #logo {
}

/*
header #logo h1 {
  padding: 0;
  float: left;
  margin: 20px 0;
}
*/

header #logo img {
  height: 62px;
  padding: 5px 20px 5px 20px;
  vertical-align: middle;
}

header #nav-container {
  text-align: right;
  display: table-cell;
  vertical-align: middle;
}

header #nav-container ul {
  width: 100%;
}

header #nav-container ul li {
  width: 20%;
  /* float: left; */
  background: #e5e5e5;
  list-style: none;
  display: inline-block;
}

header #nav-container ul li a {
  width: 100%;
  text-align: center;
  padding: 5px 0;
  float: left;
  font-size: 100%;
}

/**************** 
FOOTER 
*****************/
footer {
  height: 100px;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  display: table;
  box-shadow: 0 0 10px 0 #888;
  background: lightseagreen;
  z-index: 10;
}

footer nav {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

footer nav ul {
  padding: 5px 0;
  width: 100%;
}

footer nav ul li {
  background: #e5e5e5;
  padding: 5px;
  display: inline-block;
  margin: 0 1%;
}
