/* Good HTML5 markup should at least have the following tags:
    - <header> 
    - <nav>
    - <main>
    - <footer>
*/

/**************** 
RESET
*****************/
h1, h2, h3, h4, h5, h6, p, a, ul, ol, li, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent; 
}

a {
  color: initial;
}

a:visited {
  color: initial;
}

/**************** 
TESTING
*****************/
/*
* {
  border-style: dashed;
  border-color: blue;
  border-width: 1px
}
*/

/**************** 
FONTS
*****************/
@font-face{
  font-family: modern-serif;
  src: url('../font/ModernSerifEroded.ttf') format('truetype');
}

/**************** 
GENERAL 
*****************/
html, body {
  height: 100%;
} 

body {
  font-family: verdana;
  margin: 0;
  background: tomato;
}

h1 {
  font-family: modern-serif;;
  font-size: 1.5em;
}

div#content-container {
  display: table;
  /* height: 100%; */
}

div#sidebar-left {
  height: 100%;
  width: 30%;
  float: left;
  background: #999; /*url(../img/field_museum_totem.png) no-repeat; /* consider 'aquamarine' as alternative*/
  background-size: cover;
  background-position: center center;
  padding: 20px 0 0 0;
  display: table-cell;
}

div#sidebar-right {
  height: 100%;
  width: 20%;
  float: right;
  background: #999;
  padding: 20px 0 0 0;
  text-align: center;
  display: table-cell;
}
/*
div#sidebar-right aside {
  height: 20%;
  width: 80%;
  background: #bbb;
  display: inline-block;
  margin: 40px auto;
  overflow: hidden;
  box-shadow: inset 0 0 10px 0 #222;
  display: table-cell;
}

div#sidebar-right aside p {
  margin: 20px;
}
*/
main.content {
  width: 50%;
  height: 100%;
  background: orange;
  padding: 20px 0 0 0;
  position: relative;
  float: left;
  z-index: 8;
  box-shadow: 0 0 10px 0 #888;
  overflow: scroll;
  display: table-cell;
}

main.content article {
  padding: 0 20px;
  margin: 40px;
  text-align: justify;
}

main.content article p {
  margin: 20px auto;
}

main.content article img {
  margin: 30px 20px;
}

main.content article a {
  background: rgba(238,238,238,0.6);
  box-shadow: 0 0 3px;
  padding: 2px;
  text-decoration: none;
}

main.content ul li {
  list-style: none;
}

main.content .link-nav {
  margin-top: 40px;
}

main.content .link-nav li {
  list-style: none;
  margin: 20px 0;
}

main.content .link-nav li a {
  background: #eee;
  box-shadow: 0 0 3px;
  padding: 2px;
  text-decoration: none;
}

main.content .link-nav li a:hover {
  box-shadow: inset 0 0 3px;
  background: #bbb;
}

/* CODE BOXES */
div.code-insert {
  margin: 20px 10%;
}
ol.code-block {
  background: #999;
  font-family: courier;
  padding: 5px;
  margin: 2px;
  text-align: left;
  white-space: nowrap;
}
li.line {
  list-style-type: decimal-leading-zero;
  background: #bbb;
  overflow-x: scroll;
  overflow-y: none;
}
li.line span.comment {
  color: blue;
}
li.line span.comment:before {
  content: "# ";
}
li.line.lighter {
  background: #ddd;
}

/**************** 
HEADER 
*****************/
header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 10; 
  /* text-align: justify; */
  background: lightseagreen;
  display: table;
  box-shadow: 0 0 10px 0 #888;
}

header #logo-container {
  display: table-cell;
  vertical-align: middle;
  width: 30%;
}

header #logo {
}

/*
header #logo h1 {
  padding: 0;
  float: left;
  margin: 20px 0;
}
*/

header #logo img {
  height: 62px;
  padding: 5px 20px 5px 20px;
  vertical-align: middle;
}

header #nav-container {
  text-align: left;
  display: table-cell;
  vertical-align: middle;
}

header #nav-container ul {
  width: 100%;
}

header #nav-container ul li {
  width: 20%;
  /* float: left; */
  background: #e5e5e5;
  list-style: none;
  display: inline-block;
  box-shadow: 0 0 10px 0 orange;
}

header #nav-container ul li a {
  width: 100%;
  text-align: center;
  padding: 5px 0;
  float: left;
  font-size: 100%;
  text-decoration: none;
}

header #nav-container ul li a:hover {
  background: orange;
}
header #nav-container ul li a:visited {
  text-decoration: none;
  color: inherit;
}

div#hero {
  background: url(../img/ashland_station_1.jpg); 
  background: no-repeat;
  margin-bottom: -20px;
}
div#hero img {
  width: 100%;
}
div#hero a:visited {
  border-color: inherit;
  outline: none;
}

/**************** 
FOOTER 
*****************/
#selfie {
  height: 150px;
  position: fixed;
  bottom: 10px;
  left: 10px;
  padding: 10px;
  border: 4px solid;
  z-index: 20;
  background: rgba(238,232,170,0.5);
}

div#text-logo {
  /* font-family: modern-serif;
  font-size: 3em;
  display: table-cell;
  vertical-align: middle;
  width: 31%; */
  display: block;
  position: fixed;
  bottom: 23px;
  left: 142px;
  font-family: modern-serif;
  font-size: 3em;
/*  word-wrap: normal;
  text-align: left;
  width: 45%; */
}

footer aside#footer-aside {
  display: block;
  position: fixed;
  bottom: 11px;
  left: 142px;
  font-family: modern-serif;
  font-size: 1.5em;
  background: rgba(238,238,238,0.3);
  word-wrap: break-word;
  width: 20%;
  padding: 5px;
}

div#text-logo-spacer {
  /* content: " ";
  width: 11%;
  display: table-cell; */
}

footer {
  height: 100px;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  display: table;
  box-shadow: 0 0 10px 0 #888;
  background: lightseagreen;
  z-index: 10;
}

footer nav {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
  width: 58%;
}

footer nav ul {
  padding: 5px 0;
  /* width: 100%; */
  margin: 0 40px 0 0;
}

footer nav ul li {
  display: inline-block;
}

footer nav ul li a {
  text-decoration: none;
}
footer nav ul li a:hover {
  background: orange;
}
footer nav ul li a:visited {
  text-decoration: none;
  color: inherit;
}
footer nav #to-top {
  color: inherit;
  text-decoration: none;
  background: #e5e5e5;
  padding: 5px;
  display: inline-block;
  /* margin: 0 1%; */
  margin-left: 10px;
  box-shadow: 0 0 10px 0 orange;
}
footer nav #to-top:hover {
  background: orange;
}
footer nav #to-posts {
  color: inherit;
  text-decoration: none;
  /* background: #e5e5e5; */
  padding: 5px;
  display: inline-block;
  /* margin: 0 1%; */
  margin-left: 10px;
  box-shadow: 0 0 20px 0 orange;
}
footer nav #to-posts:hover {
  background: orange;
}

